html
	head
		title Reddit Transformer
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css', integrity='2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj', crossorigin='anonymous')
	body
		.container.col-sm-12.col-md-6.offset-md-3
			h1.m-y-2
				a(href='/') Reddit Transformer
			if error
				.alert.alert-danger(role='alert')
					strong Error occurred!
					|  Please change options and try again.
			form(action='/result')
				.form-group.row
					label.col-sm-3.col-form-label(for='inputUrl') Url
					.col-sm-9
						input#inputUrl.form-control(name='url', type='text', value=(query.url || 'https://www.reddit.com/r/javascript/.json'))
				.form-group.row
					label.col-sm-3.col-form-label(for='inputAction') Action
					.col-sm-9
						select#inputAction.form-control(name='action')
							option(value='sort', selected=(query.action === 'sort')) Sort
							option(value='aggregate', selected=(query.action === 'aggregate')) Aggregate
				.form-group.row
					label.col-sm-3.col-form-label(for='inputSortField') Sort Field
					.col-sm-9
						select#inputSortField.form-control(name='sortField')
							option(value='id', selected=(query.sortField === 'id')) ID
							option(value='title', selected=(query.sortField === 'title')) Title
							option(value='created_utc', selected=(query.sortField === 'created_utc')) Date Created
							option(value='score', selected=(query.sortField === 'score')) Score
				.form-group.row
					label.col-sm-3.col-form-label(for='inputSortDirection') Sort Direction
					.col-sm-9
						select#inputSortDirection.form-control(name='sortDirection')
							option(value='asc', selected=(query.sortDirection === 'asc')) Ascending
							option(value='desc', selected=(query.sortDirection === 'desc')) Descending
				.form-group.row
					label.col-sm-3.col-form-label(for='inputFormat') Format
					.col-sm-9
						select#inputFormat.form-control(name='outputFormat')
							option(value='csv', selected=(query.outputFormat === 'csv')) CSV
							option(value='sql', selected=(query.outputFormat === 'sql')) SQL
				.form-group.row
					label.col-sm-3.col-form-label(for='inputSeparator') CSV Separator
					.col-sm-9
						input#inputSeparator.form-control(name='separator', type='text', value=(query.separator || ','))
				.form-group.row
					label.col-sm-3.col-form-label(for='inputTableName') SQL Table Name
					.col-sm-9
						input#inputTableName.form-control(name='tableName', type='text', value=(query.tableName || 'reddit'))
				.form-group.row
					label.col-sm-3.col-form-label(for='inputTableFields') SQL Table Fields
					.col-sm-9
						input#inputTableFields.form-control(name='tableFields', type='text', value=(query.tableFields || ''))
						small.form-text.text-muted For ex. "id, title, created_utc, score" or empty for autogenerate
				.form-group.row
					.offset-sm-3.col-sm-9
						button.btn.btn-primary(type='submit') Transform
